@import '../../../../style/contants.scss';

.left-line {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: 30px;
  left: 52px;

  .line {
    width: 80%;
    background: linear-gradient(to bottom right, #90179d4a, #45044f79);
    height: 7px;
    box-shadow: 0px 1px 3px 0px #90179df8;
  }

  .start,
  .end {  
    position: relative;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: $dark-bg;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    box-shadow: -1px 2px 3px 1px #90179df8;
    overflow: hidden;
    z-index: 2;

    &::after {
      content: '';
      background: linear-gradient(to bottom right, #90179d4a, #45044f79);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .end {
    position: absolute;  
  }
}

.right-line {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 150px;
    height: 30px;
    right: 52px;
  
    .line {
      width: 80%;
      background: linear-gradient(to bottom right, #90179d4a, #45044f79);
      height: 7px;
      box-shadow: 0px 1px 3px 0px #90179df8;
    }
  
    .start,
    .end {  
      position: relative;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      background: $dark-bg;
      border-radius: 20px;
      color: #fff;
      font-weight: 700;
      box-shadow: -1px 2px 3px 1px #90179df8;
      overflow: hidden;
      z-index: 2;
  
      &::after {
        content: '';
        background: linear-gradient(to bottom right, #90179d4a, #45044f79);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
  
    .start {
      position: absolute;  
    }
  }