@import "../../style/contants.scss";

.container {
  display: flex;

  
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 0;
  width: 100%;
  padding-bottom: 180px;

  .divider {
    position: fixed;
    width: 100%;
    height: 230px;
    background: rgb(28, 28, 31);
    background: linear-gradient(
      0deg,
      rgba(28, 28, 31, 1) 80%,
      rgba(130, 24, 134, 1) 80%,
      rgba(105, 36, 139, 0) 98%
    );
    bottom: -60px;

    &.up {
      animation: up 3.6s;
    }

    &.down {
      bottom: -460px;
      animation: down 3.6s;
    }

    @keyframes down {
    }

    @keyframes up {
      0% {
        bottom: -460px;
      }

      90% {
        bottom: -460px;
      }

      100% {
        width: 100%;
        height: 230px;
        background: rgb(28, 28, 31);
        background: linear-gradient(
          0deg,
          rgba(28, 28, 31, 1) 80%,
          rgba(130, 24, 134, 1) 80%,
          rgba(105, 36, 139, 0) 98%
        );
        bottom: -60px;
      }
    }
  }

  .title {
    display: flex;
    align-items: flex-end;
    font-size: 30px;

    @media (max-width: 590px) {
      font-size: 24px;
    }

    .icon {
      transform: translateY(5px);
    }

    .title-one {
      background: linear-gradient(45deg, #64166c 33%, #5a0d76 66%, #8aa9d6);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #360b43;
    }

    .title-two {
      text-transform: uppercase;
      margin-left: 10px;
      font-size: 50px;
      color: #fff;
      text-shadow: 2px 2px 0px #81038f;

      @media (max-width: 590px) {
        font-size: 40px;
      }
    }
  }

  .tags {
    display: flex;
    margin-top: 20px;
    background: linear-gradient(to bottom right, #90179d4a, #85139679);
    border-radius: 20px;

    box-shadow: -2px 2px 3px 2px #90179df8;

    .tag {
      position: relative;
      padding: 12px 15px;
      font-size: 25px;
      font-weight: 700;
      background: $dark-bg;
      color: #fff;
      cursor: pointer;
      text-shadow: 2px 2px #81038f;
      z-index: -1;

      @media (max-width: 590px) {
        font-size: 18px;
        padding: 12px 10px;
      }

      @media (max-width: 410px) {
        font-size: 16px;
        padding: 12px 10px;
      }

      &:first-child {
        padding-left: 30px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

        @media (max-width: 590px) {
          padding-left: 20px;
        }

        @media (max-width: 410px) {
          font-size: 16px;
        }
      }

      &:last-child {
        padding-right: 30px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        @media (max-width: 590px) {
          padding-right: 20px;
        }
      }

      &.active {
        background: linear-gradient(to bottom right, #601c67fb, #2d0632fd);
        text-shadow: none;
      }
    }
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 90%;
    margin-top: 30px;
    color: #fff;
    font-size: 24px;

    .item {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 170px;
      border-radius: 20px;

      @media (max-width: 390px) {
        width: 140px;
      }

      .project {
        position: absolute;
        display: flex;
        font-size: 20px;
        padding: 0 20px;
        transform: rotate(90deg);
        left: -70px;
        background-color: $dark-bg;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        font-weight: 700;
        text-shadow: 2px 2px 0px #ac06be;

        .count {
          margin-right: 5px;
        }
      }

      .wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 170px;
        border-radius: 20px;
        overflow: hidden;

        .type {
          position: absolute;
          font-size: 20px;
          display: flex;
          justify-content: center;
          background: $dark-bg;
          padding: 3px;
          width: 150px;
          right: -40px;
          top: 20px;
          transform: rotate(40deg);
          font-weight: 900;
          text-shadow: 2px 2px 0px #ac06be;

          &.lang {
            transform: rotate(40deg);
            top: 20px;
            right: -30px;
          }

          &.tool {
            transform: rotate(40deg);
            top: 10px;
            right: -45px;
          }

          &.style {
            transform: rotate(40deg);
            top: 10px;
            right: -45px;
          }

          &.lib {
            transform: rotate(40deg);
            top: 15px;
            right: -45px;
          }

          &.framework {
            transform: rotate(30deg);
            width: 200px;
            top: 20px;
            right: -48px;
          }

          &.api {
            transform: rotate(40deg);
            top: 10px;
            right: -45px;
          }

          &.db {
            transform: rotate(40deg);
            top: 10px;
            right: -42px;
          }
        }
      }
    }

    .js {
      background: linear-gradient(to bottom right, #d9e01cfb, #b48700fd);
      font-size: 70px;
      text-shadow: 3px 3px #6b7201;
      box-shadow: 3px 2px 1px 2px #845d0afb;
    }

    .ts {
      background: linear-gradient(to bottom right, #001496fb, #0f6abafd);
      font-size: 50px;
      text-shadow: 3px 3px #1d034f;
      box-shadow: 3px 2px 1px 2px rgba(40, 11, 106, 0.984);
    }

    .html {
      background: linear-gradient(to bottom right, #f75808fb, #e28c01fd);
      font-size: 50px;
      text-shadow: 3px 3px #791b11;
      box-shadow: 3px 2px 1px 2px #923c12fb;
    }

    .css {
      background: linear-gradient(to bottom right, #06cbf7fb, #0168e5fd);
      font-size: 50px;
      text-shadow: 3px 3px #112879;
      box-shadow: 3px 2px 1px 2px #103e77fd;
    }

    .scss {
      background: linear-gradient(to bottom right, #9707fefb, #6600b0fd);
      font-size: 50px;
      text-shadow: 3px 3px #4c0663;
      box-shadow: 3px 2px 1px 2px #430a69fd;
    }

    .react {
      background: linear-gradient(to bottom right, #077efefb, #2204ccfd);
      font-size: 50px;
      text-shadow: 3px 3px #2d0c62fb;
      box-shadow: 3px 2px 1px 2px #08025afd;
    }

    .next {
      background: linear-gradient(to bottom right, #e7e9e9fb, #606063fd);
      font-size: 50px;
      text-shadow: 3px 3px #424046fb;
      box-shadow: 3px 2px 1px 2px #413946fd;
    }

    .bootstrap {
      background: linear-gradient(to bottom right, #077efefb, #2204ccfd);
      text-shadow: 3px 3px #2d0c62fb;
      font-size: 26px;
      box-shadow: 3px 2px 1px 2px #2d0c62fb;

      .icon {
        font-size: 60px;
      }

      .name {
        margin-left: 20px;
      }
    }

    .framer {
      background: linear-gradient(to bottom right, #077efefb, #2204ccfd);
      font-size: 20px;
      text-shadow: 2px 2px #2d0c62fb;
      box-shadow: 3px 2px 1px 2px #351764fb;

      .icon {
        font-size: 60px;
      }

      .name {
        margin-left: 42px;
      }
    }

    .redux {
      background: linear-gradient(to bottom right, #80168efb, #9a0792fd);
      font-size: 50px;
      text-shadow: 2px 2px #2c0731fb;
      box-shadow: 3px 2px 1px 2px #4e075cfb;
    }

    .native {
      background: linear-gradient(to bottom right, #14075efb, #1116b0fd);
      font-size: 22px;
      text-shadow: 2px 2px #2c0731fb;
      box-shadow: 3px 2px 1px 2px #19075cfb;

      .icon {
        font-size: 70px;
      }
    }

    .node {
      background: linear-gradient(to bottom right, #0bd93efb, #057b0bfd);
      font-size: 52px;
      text-shadow: 2px 2px #2c0731fb;
      box-shadow: 3px 2px 1px 2px #075c1bfb;
    }

    .express {
      background: linear-gradient(to bottom right, #cde807fb, #a09806fd);
      font-size: 36px;
      text-shadow: 2px 2px #2c0731fb;
      box-shadow: 3px 2px 1px 2px #5b5c07fb;

      .icon {
        font-size: 80px;
      }
    }

    .nest {
      background: linear-gradient(to bottom right, #ff0e0afb, #8f1308fd);
      font-size: 36px;
      text-shadow: 3px 3px #6e0808fb;
      box-shadow: 3px 2px 1px 2px #5c0714fb;

      .icon {
        font-size: 70px;
      }
    }

    .graphql {
      background: linear-gradient(to bottom right, #ff0aeffb, #7b0666fd);
      font-size: 30px;
      text-shadow: 3px 3px #510342fd;
      box-shadow: 3px 2px 1px 2px #5c0756fb;

      .icon {
        font-size: 70px;
      }
    }

    .apollo {
      background: linear-gradient(to bottom right, #ad0afffb, #50067bfd);
      font-size: 30px;
      text-shadow: 3px 3px #51034efd;
      box-shadow: 3px 2px 1px 2px #410550fb;

      .icon {
        font-size: 70px;
      }
    }

    .postgres {
      background: linear-gradient(to bottom right, #2675d4fb, #0e3574fd);
      font-size: 26px;
      text-shadow: 3px 3px #072048fd;
      box-shadow: 3px 2px 1px 2px #220550fb;

      .icon {
        font-size: 70px;
      }
    }

    .mongo {
      background: linear-gradient(to bottom right, #5bea19fb, #039003fd);
      font-size: 38px;
      text-shadow: 3px 3px #096509fd;
      box-shadow: 3px 2px 1px 2px #05501efb;

      .icon {
        font-size: 70px;
      }
    }

    .git {
      background: linear-gradient(to bottom right, #b56f06fb, #e3b602fd);
      font-size: 50px;
      text-shadow: 3px 3px #81520cfb;
      box-shadow: 3px 2px 1px 2px #503c05fb;

      .icon {
        font-size: 70px;
      }
    }

    .docker {
      background: linear-gradient(to bottom right, #4306b5fb, #380d60fd);
      font-size: 40px;
      text-shadow: 3px 3px #210c35fd;
      box-shadow: 3px 2px 1px 2px #110550fb;

      .icon {
        font-size: 80px;
      }
    }

    .webpack {
      background: linear-gradient(to bottom right, #06a6b5fb, #1c02e3fd);
      font-size: 30px;
      text-shadow: 3px 3px #100657fd;
      box-shadow: 3px 2px 1px 2px #052950fb;

      .icon {
        font-size: 70px;
      }
    }

    .vite {
      background: linear-gradient(to bottom right, #690a86fb, #140e83fd);
      font-size: 30px;
      text-shadow: 3px 3px #100657fd;
      box-shadow: 3px 2px 1px 2px #210550fb;

      .icon {
        font-size: 70px;
      }
    }

    .figma {
      background: linear-gradient(to bottom right, #d1053cfb, #0e7083fd);
      font-size: 30px;
      text-shadow: 3px 3px #1a430cfd;
      box-shadow: 3px 2px 1px 2px #053a50fb;

      .icon {
        font-size: 70px;
      }
    }

    .npm {
      background: linear-gradient(to bottom right, #f08b0ffb, #a03c07fd);
      font-size: 50px;
      text-shadow: 3px 3px #4d2612fd;
      box-shadow: 3px 2px 1px 2px #502e05fb;

      .icon {
        font-size: 80px;
      }
    }

    .yarn {
      background: linear-gradient(to bottom right, #ede109fb, #220a77fd);
      font-size: 40px;
      text-shadow: 3px 3px #1a430cfd;
      box-shadow: 3px 2px 1px 2px #220550fb;

      .icon {
        font-size: 70px;
      }
    }
  }
}
