@import '../../../../style/contants.scss';

.container {
  position: absolute;
  background: $dark-bg;
  width: 120px;
  height: 90px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  border-radius: 30px;
  text-align: center;
  cursor: pointer;

  .name-course {
    font-size: 16px;
  }

  &.left {
    left: -70px;

  
  }

  &.right {
    right: -70px;

    
  }

  .title {
    position: relative;
    z-index: 10;
    color: #fff;
  }

  .date {
    position: absolute;
    color: #fff;
    top: -5px;
    background: $dark-bg;
    z-index: 5;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #9900ff;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 30px;
    background: linear-gradient(to bottom right, #c200fd54, #3f0b554b);
    box-shadow: 1px 1px 2px 1px #b100fd32;
  }

  &.nursoft {
    font-size: 26px;
    text-shadow: 2px 2px 2px #9900ff;
  }

  &.nursoft::after {
    background: linear-gradient(to bottom right, #052cda7b, #550378c5);
    box-shadow: 1px 1px 2px 1px #3f00fd4f;
  }

  &.freelance {
    font-size: 16px;
    text-shadow: 2px 2px 2px #00f7ff;
  }

  &.freelance::after {
    background: linear-gradient(to bottom right, #da05507b, #037e84c5);
    box-shadow: 1px 1px 2px 1px #00adfd4f;
  }

  &.freshberry {
    padding-top: 10px;
    font-size: 21px;
    text-shadow: 2px 2px 2px #00ff7b;
  }

  &.freshberry::after {
    background: linear-gradient(to bottom right, #c00a4ab3, #840382c5);
    box-shadow: 1px 1px 2px 1px #ec00fd4f;
  }

  &.rss {
    font-size: 21px;
    text-shadow: 2px 2px 2px #ffea00;
  }

  &.rss::after {
    background: linear-gradient(to bottom right, #690285b3, #e6de0ac5);
    box-shadow: 1px 1px 2px 1px #fdec004f;
  }

  &.freelance-two {
    font-size: 16px;
    text-shadow: 2px 2px 2px #00f7ff;
  }

  &.freelance-two::after {
    background: linear-gradient(to bottom right, #037e84c5, #da05507b);
    box-shadow: 1px 1px 2px 1px #da053a61;
  }

  &.realtor {
    font-size: 20px;
    text-shadow: 2px 2px 2px #eb041f;
  }

  &.realtor::after {
    background: linear-gradient(to bottom right, #fdfefecd, #f90a0abb);
    box-shadow: 1px 1px 2px 1px #e3002a7b;
  }
}