@import '../../style/contants.scss';

.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #2b072e8b, #2e063479);
  z-index: 1000;

  .modal {
    display: flex;
    position: relative;
    top: -60px;
    flex-direction: column;
    width: 500px;
    min-height: 400px;
    background: $dark-bg;
    border-radius: 20px;
    padding: 20px;

    box-shadow: -3px 3px 3px 2px #5d046ebe;

    .close {
      position: absolute;
      width: 50%;
      left: 25%;
      height: 50px;
      font-size: 40px;
      font-weight: 900;
      border-radius: 20px;

      bottom: -60px;

      background: $dark-bg;

      color: #fff;
      text-shadow: -3px 3px 2px #be12e1;

      border: none;
      box-shadow: -2px 2px 2px 2px #820f99c7;
      cursor: pointer;
    }

    @media (max-width: 520px) {
      padding-top: 70px;
      height: 550px;
      width: 370px;
    }

    &::after {
      background: linear-gradient(to bottom right, #2b072e8b, #2e063479);
    }

    .title {
      position: absolute;
      transform: rotate(90deg) translate(170px, 120px);
      color: #fff;
      text-shadow: 5px 5px 0px #931ad9be;
      left: 0;
      top: 0;
      font-size: 55px;

      &.javarush {
        transform: rotate(90deg) translate(170px, 105px);
      }

      @media (max-width: 520px) {
        transform: rotate(0) translate(20px, 0px);

        &.javarush {
          transform: rotate(0) translate(40px, 0px);
        }
      }
    }

    .tags {
      position: relative;
      margin-left: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: auto;

      @media (max-width: 520px) {
        margin-left: 0;
      }

      .tag {
        color: #fff;
        text-shadow: 0 0 2px black;
        font-weight: 700;
        padding: 0px 5px;
        border-radius: 5px;
      }
    }

    .image {
      margin-left: 50px;
      width: 100;
      display: flex;
      

      @media (max-width: 520px) {
        margin-left: 0;
        flex-direction: column;
        align-items: center;
      }
      
      img {
        width: 60%;
        border-radius: 10px;
        box-shadow: -1px 1px 2px #eda702;
        transition: .2s;
        z-index: 6;
        cursor: pointer;

        &:hover {
          transform: scale(1.8);
        }
      }

      .performance {
        font-size: 24px;
        margin-left: 10px;
        text-align: center;

        @media (max-width: 520px) {
          text-align: center;
        }
        
        h4 {
          color: #fff;
        }

        h3 {
          margin-top: 15px;
          font-size: 26px;
          transform: scale(1.1);
          color: #fff;
          text-shadow: 2px 2px 1px #e6941a;

          @media (max-width: 520px) {
            margin-top: 0;
          }
        }
      }
    }

    .description {
      margin-left: 50px;
      margin-top: 5px;
      color: #fff;
      border-radius: 10px;
      padding: 5px 10px;
      box-shadow: -1px 2px 1px 1px #cf10dc4b;

      @media (max-width: 520px) {
        margin-left: 0;
      }
    }
  }

  .exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 520px) {
      justify-content: center;
    }

    .exp-title {
      font-size: 45px;
      color: #fff;
      transform: scale(1.1) translateY(-10px) rotate(5deg);

      &.nursoft { text-shadow: 4px 4px 0px  #350b96c0; }
      &.freelance { text-shadow: 4px 4px 0px  #0fb0c6dd; }
      &.freelance-two { text-shadow: 4px 4px 0px  #0fb0c6dd; }
      &.rss { text-shadow: 4px 4px 0px  #e1d717c0; }
      &.freshberry { text-shadow: 4px 4px 0px  #d903c3c0; }
      &.realtor { text-shadow: 4px 4px 0px  #c00606f9; }
    }

    .data {
      color: #fff;
      position: relative;
      transform: rotate(2deg);

      .wrap {
        display: flex;
        align-items: flex-start;

        @media (max-width: 520px) {
          align-items: center;

          &:last-child {
            justify-content: center;
            
            flex-direction: column;
          }
        }
      }

      
      .span {
        margin-left: 7px;
        font-size: 20px;
        font-weight: 900;
        background: linear-gradient(45deg, #5e149e 33%, #9032e1 66%, #8AA9D6);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #360b43;
      }

      .position {
        font-size: 20px;
        font-weight: 900;
        text-shadow: 2px 2px 0px #5b05ac;

        @media (max-width: 520px) {
          
        }
      }

      .working {
        font-weight: 900;
        font-size: 20px;
        text-shadow: 2px 2px 0px #5b05ac;

        
      }
    }

    .exp-description {
      margin-top: 30px;
      color: #fff;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: -2px 2px 2px 2px #640384d0;
    }

    .exp-tags {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      margin-top: 30px;

      .tag {
        padding: 3px 5px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
      }
    }
  }
}

// .tag {

//   &.java-syntax {
//     background: linear-gradient(to bottom right, #ff4d00cc, #e49310d0);
//   }

//   &.java-core {
//     background: linear-gradient(to bottom right, #ff8c00cc, #e4e010d0);
//   }

//   &.java-multithreading {
//     background: linear-gradient(to bottom right, #ff8c00d9, #e4e010d0);
//   }

//   &.java-collections {
//     background: linear-gradient(to bottom right, #ff5e00cc, #109de4d0);
//   }

//   &.java-syntax {
//     background: linear-gradient(to bottom right, #ff4d00cc, #e49310d0);
//   }

//   &.javascript {
//     background: linear-gradient(to bottom right, #eeff00cc, #e4ba10d0);
//   }

//   &.scss {
//     background: linear-gradient(to bottom right, #ff00eecc, #7e0880d0);
//   }

//   &.typescript {
//     background: linear-gradient(to bottom right, #454bffe3, #0e028bd0);
//   }

//   &.object-oriented-programming {
//     background: linear-gradient(to bottom right, #ec282be3, #177bdfd0);
//   }

//   &.webpack {
//     background: linear-gradient(to bottom right, #454bffe3, #0e028bd0);
//   }

//   &.kanban {
//     background: linear-gradient(to bottom right, #45b5ffe3, #0e0384d0);
//   }

//   &.scrum {
//     background: linear-gradient(to bottom right, #7045ffe3, #036a84d0);
//   }

//   &.algorithms {
//     background: linear-gradient(to bottom right, #e67b08e3, #840316d0);
//   }

//   &.data-structure {
//     background: linear-gradient(to bottom right, #e60808e3, #dfc606d0);
//   }

//   &.web-api {
//     background: linear-gradient(to bottom right, #e60808e3, #dfc606d0);
//   }

//   &.design-patterns {
//     background: linear-gradient(to bottom right, #9108e6e3, #06bfdfd0);
//   }

//   ///
  
//   &.git {
//     background: linear-gradient(to bottom right, #e68608e3, #df9a06d0);
//   }

//   &.html {
//     background: linear-gradient(to bottom right, #e61708e3, #df9a06d0);
//   }

//   &.css {
//     background: linear-gradient(to bottom right, #0840e6e3, #38096dd0);
//   }

//   &.css-flex {
//     background: linear-gradient(to bottom right, #7e08e6e3, #6d0965d0);
//   }

//   &.css-grid {
//     background: linear-gradient(to bottom right, #cc08e6e3, #0e096dd0);
//   }

//   &.figma {
//     background: linear-gradient(to bottom right, #08e6e2e3, #e90f0fd0);
//   }

//   &.adaptive-layout {
//     background: linear-gradient(to bottom right, #e6087be3, #096d6dd0);
//   }

//   &.basic-javascript {
//     background: linear-gradient(to bottom right, #e6db08e3, #6d4509d0);
//   }

//   &.dom-api {
//     background: linear-gradient(to bottom right, #e66c08e3, #2c096dd0);
//   }

//   &.dom-events {
//     background: linear-gradient(to bottom right, #e64708e3, #6d6809d0);
//   }
//   /////
  
//   &.react {
//     background: linear-gradient(to bottom right, #1308e6e3, #09606dd0);
//   }

//   &.redux {
//     background: linear-gradient(to bottom right, #c108e6e3, #4c084ed0);
//   }

//   &.redux-toolkit {
//     background: linear-gradient(to bottom right, #c508e6e3, #d827cf7d);
//   }

//   &.react-hooks-form {
//     background: linear-gradient(to bottom right, #ab08e6e3, #b21493d0);
//   }

//   &.react-router-dom {
//     background: linear-gradient(to bottom right, #716676e3, #b7b7aed0);
//   }

//   &.csr {
//     background: linear-gradient(to bottom right, #aaa5ace3, #2b2229d0);
//   }

//   &.ssr {
//     background: linear-gradient(to bottom right, #4a434be3, #a8afbcd0);
//   }

//   &.ssg {
//     background: linear-gradient(to bottom right, #9e96a1e3, #181117d0);
//   }

//   &.react-testing-library {
//     background: linear-gradient(to bottom right, #692183e3, #650657d0);
//   }

//   &.e2e-test {
//     background: linear-gradient(to bottom right, #b06a15e3, #a0a000d0);
//   }

//   &.solid {
//     background: linear-gradient(to bottom right, #ecaf06e3, #ca721fd0);
//   }

//   ////
  
//   &.node {
//     background: linear-gradient(to bottom right, #56ec06e3, #2e7c0ad0);
//   }

//   &.websocket{
//     background: linear-gradient(to bottom right, #830a7de3, #b01fcad0);
//   }

//   &.nutjs {
//     background: linear-gradient(to bottom right, #ecaf06e3, #ca721fd0);
//   }

//   &.fastify {
//     background: linear-gradient(to bottom right, #af06ece3, #460658d0);
//   }

//   &.rest {
//     background: linear-gradient(to bottom right, #3c06ece3, #911fcad0);
//   }

//   &.graphql {
//     background: linear-gradient(to bottom right, #a306ece3, #c11fcad0);
//   }

//   &.typeorm {
//     background: linear-gradient(to bottom right, #0662ece3, #2a107dd0);
//   }

//   &.postgresql {
//     background: linear-gradient(to bottom right, #06c6ece3, #721fcad0);
//   }

//   &.nestjs {
//     background: linear-gradient(to bottom right, #ec0606e3, #720808d0);
//   }

//   &.model-view-controller {
//     background: linear-gradient(to bottom right, #ec0606e3, #720808d0);
//   }

//   &.docker {
//     background: linear-gradient(to bottom right, #5306ece3, #1c0c77d0);
//   }

//   //////////////
//   &.core-js {
//     background: linear-gradient(to bottom right, #e0ec06e3, #1c770cd0);
//   }

//   &.anime-js {
//     background: linear-gradient(to bottom right, #7906ece3, #1c770cd0);
//   }

//   &.velocity-js {
//     background: linear-gradient(to bottom right, #7906ece3, #0c6e77d0);
//   }

//   &.vite {
//     background: linear-gradient(to bottom right, #1106ece3, #eadc16d0);
//   }

//   &.bootstrap {
//     background: linear-gradient(to bottom right, #1106ece3, #1ad6cdd0);
//   }

//   &.react-select {
//     background: linear-gradient(to bottom right, #17118ce3, #8716ead0);
//   }

//   &.react-spinner {
//     background: linear-gradient(to bottom right, #6d06ece3, #1680ead0);
//   }

//   &.chartjs {
//     background: linear-gradient(to bottom right, #1106ece3, #eadc16d0);
//   }

//   &.react-dnd {
//     background: linear-gradient(to bottom right, #ece806e3, #ea2f16d0);
//   }

//   &.mui {
//     background: linear-gradient(to bottom right, #1106ece3, #ea16e7d0);
//   }

//   &.framer-motion {
//     background: linear-gradient(to bottom right, #1106ece3, #16c3ead0);
//   }

//   &.mongodb {
//     background: linear-gradient(to bottom right, #38ec06e3, #047028d0);
//   }

//   &.cheerio {
//     background: linear-gradient(to bottom right, #38ec06e3, #047028d0);
//   }

//   &.puppeteer {
//     background: linear-gradient(to bottom right, #38ec06e3, #706b04d0);
//   }
// }

.tag {
  color: #fff;
  padding: 3px 7px;
  border-radius: 5px;

  @media (max-width: 500px) {
    font-size: 12px;
  }

  &.javascript {
    background: linear-gradient(to bottom right, #eff402a2, #aaba1f70);
    box-shadow: -1px 1px 1px 1px #f0f40263;
    border: 0.5px solid #f0f40257;
  }

  &.web-api {
    background: linear-gradient(to bottom right, #026bf4a2, #361fba70);
    box-shadow: -1px 1px 1px 1px #026bf4a2;
    border: 0.5px solid #026bf4a2;
  }

  &.object-oriented-programming {
    background: linear-gradient(to bottom right, #02e0f4a2, #f2f2eb70);
    box-shadow: -1px 1px 1px 1px #02e0f4a2;
    border: 0.5px solid #02e0f4a2;
  }

  &.algorithms {
    background: linear-gradient(to bottom right, #0ef402a2, #097a0d70);
    box-shadow: -1px 1px 1px 1px #0ef40265;
    border: 0.5px solid #0ef40258;
  }

  &.data-structure {
    background: linear-gradient(to bottom right, #f43a02a2, #e55a5a70);
    box-shadow: -1px 1px 1px 1px #e55a5a70;
    border: 0.5px solid #e55a5a70;
  }

  &.kanban {
    background: linear-gradient(to bottom right, #0283f4a2, #5a9fe570);
    box-shadow: -1px 1px 1px 1px #5ac5e570;
    border: 0.5px solid #5ac5e570;
  }

  &.scrum {
    background: linear-gradient(to bottom right, #0226f4a2, #5ac9e570);
    box-shadow: -1px 1px 1px 1px #0226f464;
    border: 0.5px solid #0226f45a;
  }

  &.design-patterns {
    background: linear-gradient(to bottom right, #9e0b26a2, #e55a5a70);
    box-shadow: -1px 1px 1px 1px #e55a5a70;
    border: 0.5px solid #e55a5a70;
  }
  
  &.html {
    background: linear-gradient(to bottom right, #f18c07a2, #e59d5a70);
    box-shadow: -1px 1px 1px 1px #e59d5a70;
    border: 0.5px solid #e59d5a70;
  }

  &.git {
    background: linear-gradient(to bottom right, #ed9726d5, #eb923fce);
    box-shadow: -1px 1px 1px 1px #e59d5a70;
    border: 0.5px solid #e59d5a70;
  }

  &.css {
    background: linear-gradient(to bottom right, #266fedd5, #0b4b9ece);
    box-shadow: -1px 1px 1px 1px #266fed50;
    border: 0.5px solid #266fed4e;
  }

  &.css-flex {
    background: linear-gradient(to bottom right, #edd926d5, #3f42ebad);
    box-shadow: -1px 1px 1px 1px #edd92658;
    border: 0.5px solid #edd9265e;
  }

  &.css-grid {
    background: linear-gradient(to bottom right, #e6ed26d5, #3febd7ce);
    box-shadow: -1px 1px 1px 1px #e6ed265c;
    border: 0.5px solid #e6ed2655;
  }

  &.figma {
    background: linear-gradient(to bottom right, #ed2640d5, #3febd792);
    box-shadow: -1px 1px 1px 1px #3febd763;
    border: 0.5px solid #3febd757;
  }

  &.adaptive-layout {
    background: linear-gradient(to bottom right, #3f6aeb92, #eb3f4d92);
    box-shadow: -1px 1px 1px 1px #eb3f4d92;
    border: 0.5px solid #eb3f4d92;
  }

  &.basic-javascript {
    background: linear-gradient(to bottom right, #f2e315d5, #bed11392);
    box-shadow: -1px 1px 1px 1px #bed11392;
    border: 0.5px solid #bed11392;
  }

  &.dom-events {
    background: linear-gradient(to bottom right, #15e3f2d5, #1356d192);
    box-shadow: -1px 1px 1px 1px #1356d192;
    border: 0.5px solid #1356d192;
  }

  &.dom-api {
    background: linear-gradient(to bottom right, #57f215d5, #13d17f92);
    box-shadow: -1px 1px 1px 1px #13d17f69;
    border: 0.5px solid #13d17f58;
  }

  &.csr {
    background: linear-gradient(to bottom right, #57f215d5, #13d17f92);
    box-shadow: -1px 1px 1px 1px #13d17f69;
    border: 0.5px solid #13d17f58;
  }

  &.ssr {
    background: linear-gradient(to bottom right, #158bf2d5, #3613d192);
    box-shadow: -1px 1px 1px 1px #158bf25e;
    border: 0.5px solid #158bf261;
  }

  &.ssg {
    background: linear-gradient(to bottom right, #be15f2d5, #b113d192);
    box-shadow: -1px 1px 1px 1px #be15f254;
    border: 0.5px solid #be15f24d;
  }

  &.react-testing-library {
    background: linear-gradient(to bottom right, #be15f2d5, #6e078392);
    box-shadow: -1px 1px 1px 1px #6e078392;
    border: 0.5px solid #6e078392;
  }

  &.e2e-test {
    background: linear-gradient(to bottom right, #15f2c9d5, #1adfcb92);
    box-shadow: -1px 1px 1px 1px #1adfcb53;
    border: 0.5px solid #1adfcb56;
  }

  &.solid {
    background: linear-gradient(to bottom right, #f2d515d5, #b7ac3592);
    box-shadow: -1px 1px 1px 1px #b7ac3592;
    border: 0.5px solid #b7ac3592;
  }

  &.websocket {
    background: linear-gradient(to bottom right, #15f2c9d5, #1adfcb92);
    box-shadow: -1px 1px 1px 1px #1adfcb53;
    border: 0.5px solid #1adfcb56;
  }

  &.nutjs {
    background: linear-gradient(to bottom right, #f2d515d5, #b7ac3592);
    box-shadow: -1px 1px 1px 1px #b7ac3592;
    border: 0.5px solid #b7ac3592;
  }

  &.fastify {
    background: linear-gradient(to bottom right, #be15f2d5, #b113d192);
    box-shadow: -1px 1px 1px 1px #be15f254;
    border: 0.5px solid #be15f24d;
  }

  &.rest {
    background: linear-gradient(to bottom right, #153ef2d5, #13ced192);
    box-shadow: -1px 1px 1px 1px #13ced15b;
    border: 0.5px solid #13ced157;
  }

  &.graphql {
    background: linear-gradient(to bottom right, #f215eed5, #be13d192);
    box-shadow: -1px 1px 1px 1px #be13d14e;
    border: 0.5px solid #be13d14a;
  }

  &.model-view-controller {
    background: linear-gradient(to bottom right, #1524f2d5, #32cbdc92);
    box-shadow: -1px 1px 1px 1px #1524f256;
    border: 0.5px solid #1524f245;
  }

  &.docker {
    background: linear-gradient(to bottom right, #2b15f2d5, #214be492);
    box-shadow: -1px 1px 1px 1px #214be448;
    border: 0.5px solid #214be450;
  }

  &.typeorm {
    background: linear-gradient(to bottom right, #153ef2d5, #13ced192);
    box-shadow: -1px 1px 1px 1px #13ced15b;
    border: 0.5px solid #13ced157;
  }

  &.java-syntax {
    background: linear-gradient(to bottom right, #f29615d5, #deb14792);
    box-shadow: -1px 1px 1px 1px #deb14792;
    border: 0.5px solid #deb14792;
  }

  &.java-core {
    background: linear-gradient(to bottom right, #f2dc15d5, #ddd13292);
    box-shadow: -1px 1px 1px 1px #ddd13292;
    border: 0.5px solid #ddd13292;
  }

  &.java-multithreading {
    background: linear-gradient(to bottom right, #20f215d5, #0a913292);
    box-shadow: -1px 1px 1px 1px #0a913292;
    border: 0.5px solid #0a913292;
  }

  &.java-collections {
    background: linear-gradient(to bottom right, #f28b15d5, #c0a73a92);
    box-shadow: -1px 1px 1px 1px #c0a73a92;
    border: 0.5px solid #c0a73a92;
  }

  &.core-js {
    background: linear-gradient(to bottom right, #eef215d5, #c0a73a92);
    box-shadow: -1px 1px 1px 1px #c0a73a92;
    border: 0.5px solid #c0a73a92;
  }

  &.pioneer {
    background: linear-gradient(to bottom right, #f28b15d5, #c0a73a92);
    box-shadow: -1px 1px 1px 1px #c0a73a92;
    border: 0.5px solid #c0a73a92;
  }

  &.anime-js {
    background: linear-gradient(to bottom right, #dc15f2d5, #8d3ac092);
    box-shadow: -1px 1px 1px 1px #dc15f249;
    border: 0.5px solid #dc15f241;
  }

  &.velocity-js {
    background: linear-gradient(to bottom right, #50f215d5, #22851592);
    box-shadow: -1px 1px 1px 1px #2dd91663;
    border: 0.5px solid #28c21475;
  }

  &.vite {
    background: linear-gradient(to bottom right, #e7f709d1, #15378592);
    box-shadow: -1px 1px 1px 1px #e7f7095c;
    border: 0.5px solid #e7f70949;
  }

  &.bootstrap {
    background: linear-gradient(to bottom right, #2914eaa2, #1f2fba5e);
    box-shadow: -1px 1px 1px 1px #1202a8bb;
    border: 0.5px solid #1202a8bb;
  }

  &.react-select {
    background: linear-gradient(to bottom right, #14b1eaa2, #1f2fba5e);
    box-shadow: -1px 1px 1px 1px #14b1eaa2;
    border: 0.5px solid #14b1eaa2;
  }

  &.react-spinner {
    background: linear-gradient(to bottom right, #7414eaa2, #1f2fba5e);
    box-shadow: -1px 1px 1px 1px #7414eaa2;
    border: 0.5px solid #7414eaa2;
  }

  &.cheerio {
    background: linear-gradient(to bottom right, #3bea14a2, #0b9b255e);
    box-shadow: -1px 1px 1px 1px #0b9b255e;
    border: 0.5px solid #0b9b255e;
  }

  &.puppeteer {
    background: linear-gradient(to bottom right, #289211a2, #0b9b255e);
    box-shadow: -1px 1px 1px 1px #0b9b255e;
    border: 0.5px solid #0b9b2548;
  }

  &.typescript {
    background: linear-gradient(to bottom right, #180d77a2, #1baad270);
    box-shadow: -1px 1px 1px 1px #1202a8bb;
    border: 0.5px solid #1202a8bb;
  }

  &.scss {
    background: linear-gradient(to bottom right, #c21ad1a2, #ad1fba70);
    box-shadow: -1px 1px 1px 1px #a302a8bb;
    border: 0.5px solid #a302a8bb;
  }

  &.react {
    background: linear-gradient(to bottom right, #2b66d4c5, #0f77e670);
    box-shadow: -1px 1px 1px 1px #1a92e9bb;
    border: 0.5px solid #1774b6bb;
  }

  &.webpack {
    background: linear-gradient(to bottom right, #5a4ec6a2, #1129f970);
    box-shadow: -1px 1px 1px 1px #4737d5bb;
    border: 0.5px solid #4737d5bb;
  }

  &.framer-motion {
    background: linear-gradient(to bottom right, #2c16f1a2, #2c38a470);
    box-shadow: -1px 1px 1px 1px #2c38a4c8;
    border: 0.5px solid #2c38a470;
  }

  &.react-hook-form {
    background: linear-gradient(to bottom right, #ea16f1a2, #ba12ba70);
    box-shadow: -1px 1px 1px 1px #ba12ba70;
    border: 0.5px solid #ba12ba70;
  }

  &.react-hook-form {
    background: linear-gradient(to bottom right, #ea16f1a2, #ba12ba70);
    box-shadow: -1px 1px 1px 1px #ba12ba70;
    border: 0.5px solid #ba12ba70;
  }

  &.lottie-react {
    background: linear-gradient(to bottom right, #16f1e6a2, #123fba70);
    box-shadow: -1px 1px 1px 1px #123fba70;
    border: 0.5px solid #123fba70;
  }

  &.react-router-dom {
    background: linear-gradient(to bottom right, #d0d9d9a2, #d6d9df70);
    box-shadow: -1px 1px 1px 1px #8d8f9270;
    border: 0.5px solid #6c7575a2;
  }

  &.axios {
    background: linear-gradient(to bottom right, #cfdd0edf, #b4db0770);
    box-shadow: -1px 1px 1px 1px #90991091;
    border: 0.5px solid #90991091;
  }

  &.node {
    background: linear-gradient(to bottom right, #2ddd0edf, #25970970);
    box-shadow: -1px 1px 1px 1px #12991091;
    border: 0.5px solid #1299105a;
  }

  &.express {
    background: linear-gradient(to bottom right, #dadd0edf, #97680970);
    box-shadow: -1px 1px 1px 1px #90991091;
    border: 0.5px solid #90991091;
  }

  &.telegram-api-bot {
    background: linear-gradient(to bottom right, #0e61dddf, #21099770);
    box-shadow: -1px 1px 1px 1px #0e61dd9b;
    border: 0.5px solid #0e61ddaa;
  }

  &.chartjs {
    background: linear-gradient(to bottom right, #e78309df, #d6e01170);
    box-shadow: -1px 1px 1px 1px #ddb00e88;
    border: 0.5px solid #ddb00e7f;
  }

  &.mongodb {
    background: linear-gradient(to bottom right, #23e709df, #05ac2670);
    box-shadow: -1px 1px 1px 1px #05ac2670;
    border: 0.5px solid #05ac2670;
  }

  &.redux {
    background: linear-gradient(to bottom right, #9209e7df, #b708ce70);
    box-shadow: -1px 1px 1px 1px #9209e76a;
    border: 0.5px solid #9209e768;
  }

  &.redux-toolkit-query {
    background: linear-gradient(to bottom right, #d809e7df, #8505ac70);
    box-shadow: -1px 1px 1px 1px #d809e768;
    border: 0.5px solid #d809e768;
  }

  &.react-dnd {
    background: linear-gradient(to bottom right, #0923e7df, #144ca770);
    box-shadow: -1px 1px 1px 1px #144ca772;
    border: 0.5px solid #144ca760;
  }

  &.i18next {
    background: linear-gradient(to bottom right, #e70987df, #ac055e70);
    box-shadow: -1px 1px 1px 1px #e709875b;
    border: 0.5px solid #e7098751;
  }

  &.redux-toolkit {
    background: linear-gradient(to bottom right, #d809e7df, #8505ac70);
    box-shadow: -1px 1px 1px 1px #d809e768;
    border: 0.5px solid #d809e768;
  }

  &.mui {
    background: linear-gradient(to bottom right, #2e09e7df, #14047e70);
    box-shadow: -1px 1px 1px 1px #1933a797;
    border: 0.5px solid #1831a370;
  }

  &.nestjs {
    background: linear-gradient(to bottom right, #e70909df, #81060670);
    box-shadow: -1px 1px 1px 1px #e709096a;
    border: 0.5px solid #e7090964;
  }

  &.postgresql {
    background: linear-gradient(to bottom right, #4409e7df, #2605ac70);
    box-shadow: -1px 1px 1px 1px #1c09e768;
    border: 0.5px solid #4409e756;
  }
}