.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  max-width: 1300px;

  .title {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 0px #852076fe;
    margin-bottom: 20px;

    @media (max-width: 920px) {
      font-size: 20px;
    }

    @media (max-width: 620px) {
      font-size: 17px;
    }

    @media (max-width: 420px) {
      font-size: 16px;
    }

    .and {
      background: linear-gradient(45deg, #c413d8 33%, #9013be 66%, #c613ea);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #360b43;
      font-size: 40px;
      padding: 0 20px;
      font-weight: 900;
      text-shadow: none;

      @media (max-width: 720px) {
        font-size: 26px;
      }

      @media (max-width:520px) {
        font-size: 24px;
        padding: 0 15px;
      }
      @media (max-width:420px) {
        font-size: 20px;
        padding: 0 10px;
      }
    }
    
    .icon {
      transform: translateY(5px);
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    height: 65%;
    width: 80%;
    margin: 0 auto;

    .education {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 100%;
      margin: 0 auto;
      margin-top: 10px;
      border: 3px dashed #fff;
  
      .mainLine {
        display: flex;
        position: relative;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        align-items: center;
  
        .line {
          position: relative;
          display: block;
          border-bottom: 5px dashed #6b0567;
          height: 0;
          margin-left: 10px;
          z-index: -1;
        }
  
        .end,
        .start {
          font-size: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 900;
          color: #fff;
          width: 57px;
          height: 57px;
          border-radius: 50%;
          background: linear-gradient(45deg, #64166c 33%, #5a0d76 66%, #5d0a79);
          box-shadow: -3px 3px 1px 1px #4b0b63;
        }
        
        .start {
          position: absolute;
        }
  
        .end {
          z-index: 1;
        }
      }
    }
  }
}