@import '../../../../style/contants.scss';

.container {
  display: flex;
  flex-direction: column;
  position: relative;

  .title {
    font-size: 26px;
    color: #fff;
    text-shadow: 3px 2px 1px #a308c9d7;
  }

  .textarea {
    position: relative;
    margin-top: 4px;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    outline: none;
    width: 100%;
    border-radius: 10px;
    box-shadow: -1px 1px 1px 2px #90179d4a;
    height: 110px;
    border: 1px solid #90179d4a;
    resize: none;
    background-color: $dark-bg;
  }

  .error {
    position: absolute;
    top: 16px;
    right: 0;
    font-size: 13px;
    border: 0.5px solid #9e2424a2;
    background-color: #9e2424a2;
    border-radius: 20px;
    padding: 0 10px;
    color: #fff;
  }
}